{% extends "base.html" %}

{% block content %}
    <h1>New Blog Post</h1>
    <hr />
    <form method='post'>
        <label>
            Title:
            <input type="text" name='title' />
        </label>
        {% if title_error %}
            <p class='error'>{{ title_error }}</p>
        {% endif %}
        <label>
            Main Body:
            <input type="text" name='body' />
        </label>
        {% if body_error %}
            <p class='error'>{{ body_error }}</p>
        {% endif %}
        <input type="submit" value='Add Post' />
    </form>

{% endblock %}